<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="w-100 mb-24">
    <mat-label>Login</mat-label>
    <input matInput placeholder="type your login" formControlName="login" required />
    @if (form.controls.login.invalid) {
      <mat-error>Login is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="w-100 mb-24">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required />
    @if (form.controls.password.invalid) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>
  @if (form.hasError('wrongCredentials')) {
    <mat-error>Invalid credentials</mat-error>
  }
  <div class="submit-container">
    <button matButton="filled" type="submit" [disabled]="form.invalid">Log in</button>
  </div>
</form>
