.toolbar {
  display: flex;

  .mat-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .menu-icon {
    color: var(--mat-sys-on-primary);
  }
}
