.toolbar {
  display: flex;
  justify-content: center;

  .mat-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 720px;

    .btn-logout {
      margin-left: auto;
    }
  }
}
