@use 'mixins/media-query' as mq;

.transactions {
  margin: 24px 0;
}

.transaction {
  margin-bottom: 12px;
  display: block;
}

.actions {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .search {
    order: 2;
  }

  .btn {
    order: 1;
    margin-bottom: 24px;
  }

  @include mq.media-query(sm) {
    justify-content: flex-end;
    flex-direction: row;
    gap: 16px;
    .btn {
      margin-bottom: 0;
      order: 2;
      margin-left: auto;
    }
    .search {
      order: 1;
      flex-grow: 1;
    }
  }
}
