<div class="actions">
  <app-search class="search" [(search)]="search"></app-search>
  <a matButton="filled" routerLink="create/new" class="btn">New Transaction</a>
</div>

<div class="transactions">
  @for (transaction of resourceRef.value(); track $index) {
    <app-transaction-item
      class="transaction"
      [transaction]="transaction"
      (edit)="edit($event)"
      (remove)="remove($event)"
    ></app-transaction-item>
  } @empty {
    <app-no-transaction></app-no-transaction>
  }
</div>
