<app-balance [transactions]="transactions()"></app-balance>

<div class="chart-container">
  @defer (on interaction(validClick); when canShowChart()) {
    <mat-card class="card">
      <app-pie-chart [config]="transactionPieConfig()"></app-pie-chart>
    </mat-card>
  } @loading (minimum 1s) {
    <mat-card class="card">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
  } @placeholder (minimum 1s) {
    <mat-card class="card">
      <button matButton="filled" #validClick>valid click</button>
      <button matButton="filled" (click)="canShowChart.set(true)">another valid click</button>
      <button matButton="filled">invalid click</button>
    </mat-card>
  } @error {
    <mat-card class="card">
      <mat-icon>error</mat-icon>
      Error on loading chart !
    </mat-card>
  }
</div>
